.paper {
  margin-bottom: 1.5em;

  .date {
    color: #888;
    font-size: 0.85em;
    margin-left: 0.3em;
  }

  .status {
    display: inline-block;
    font-size: 0.85em;
    font-style: italic;
    color: #e2661a;
  }

  .links {
    font-size: 0.9em;

    a + a {
      margin-left: 0.2em;
    }
  }

  details {
    margin-top: 0.3em;

    summary {
      cursor: pointer;
      font-size: 0.9em;
      color: #494e52;
    }

    p {
      font-size: 0.9em;
      margin-top: 0.5em;
      color: #555;
    }
  }
}
